
    h4{
    padding: 12px;
    background-color: grey;
    margin-right: 12px;
    margin-left: 12px;

    }
    body {
    font-family: arial;
    background-color: grey;
    padding: 25px;
    /* text-align: center; */
    }
    p.one{
    padding: 12px;
    }
    p.two{
    color:black;
    border-width: thick;
    padding: 40px 0px 20px 100px;
    margin-left: 20px;
    text-align: center;
    }   
    .page{
    border: 1px solid;
    background-color:aquamarine;
    padding: inherit;
    height: 375px;
    width: 960px;
    margin: 10px auto 10px auto;
    }
    .navbar-nav{
    float:right;
    width: 960px;
    }



input[type=text], textarea {
    width: 99%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    margin-top: 6px; 
    margin-bottom: 16px; 
   resize: none;

  
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color:grey;
}
  

.container {
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    padding: 50px;
    margin-right: 50px;
}


#game {
    padding: 50px;
}